:root{
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --weight-small: 500;
    --weight-medium: 700;
    --weight-big: 900;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

p{
    font-size: 16px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pale-blue);
    text-align: center;
    font-family: 'Red Hat Display', 'sans-serif';
}

.component {
    width: 375px;
    display: flex;
    flex-direction: column;
    background: hsl(0, 100%, 100%, 90%);
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 10px 0px;
    gap: 20px;
}

.header {
    font-weight: var(--weight-big);
    font-size: 22px;
    color: var(--dark-blue);
}

.text {
    margin: 0px 10px 0px 10px;
    color: var(--desaturated-blue);
    font-weight: var(--weight-small);
}
